html,
body {
  padding: 0;
  margin: 0;
  height: 100vh;
  overflow: hidden;
  position: relative;
  background-color:  hsl(185, 75%, 39%);
  font-family: 'Kumbh Sans', sans-serif;

}

.top-bg-svg,
.bottom-bg-svg {
  width: 55vw;
  position: absolute;
}

.top-bg-svg{
  top: -45%;
  left: -10%;
}

.bottom-bg-svg{
  bottom: -45%;
  right: -10%; 
}

main{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card{
  width: 350px;
  background-color: white;
  z-index: 2000;
  border-radius: 1.5rem;
  overflow: hidden;
  box-shadow: 2px 2px 18px 2px hsl(227, 10%, 46%);
}

.text-center{
  text-align: center;
}


.card-header img{
  border-radius: 50%;
  border: 5px solid white;
  transform: translate(0, -50%);
}

.row{
  display: flex;
  justify-content: center;
  align-items: center;
}

.mt-0{
  margin-top: 0;
}

.m-0{
  margin: 0%;
}

.mb-0{
  margin-bottom: 0;
}

.mb-1{
  margin-bottom: 5px !important;
}

.ml-1{
  margin: 0;
  margin-left: .5rem !important;
}

.x-large{
  font-size: x-large;
}

.card-footer{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: .5rem 1rem;
}

.card-footer p{
  letter-spacing: 2px;
  font-size: x-small;
}

h1, h2{
  color: hsl(229, 23%, 23%);
  font-weight: 700;
}

.text-grey{
  color: gray;
}

@media only screen and (max-width: 370px){
  .card{
    width: 90%;
  }

  h1, h2{
    font-size: medium;
  }
  
  p{
    font-size: medium ;
  }

  .top-bg-svg{
    top: -7%;
    left: -1%;
  }

  .bottom-bg-svg{
    bottom: -10%;
  }
}